<ss-menu></ss-menu>

<div class="container">
    <h3 class="center blue-grey-text">Dados da Conversa</h3>
    <div class="divider"></div>
    <br>


    <div class="row" *ngIf="usuario.nm_Usuario != ''">
        <div class="col s3 m2 center">
            <img src="{{ usuario.nm_Imagem }}" alt="" class="circle responsive-img">
        </div>
        
        <div class="col s9 m10 left">
            <h5>{{ usuario.nm_Usuario }}</h5>
            <small *ngIf="!!fl_Anonimo">( esta conversa será anônima )</small><br>
            {{ usuario.nm_Email }}<br>
        </div>
    </div>
    
    <form [formGroup]="mensagemForm" (submit)="save()">
        <div class="row">
          <div class="input-field col s9">            
            <label for="tx_Mensagem" class="active">Escreva aqui sua mensagem</label>
            <input #txMensagemInput id="tx_Mensagem" type="text"
              formControlName="tx_Mensagem"
              class="validate no-spaces" style="padding: 0px; margin: 0px;"
              autofocus>
            <sd-vmessage 
                *ngIf="mensagemForm.get('tx_Mensagem').errors?.required"
                text="Sua mensagem é obrigatório!">
            </sd-vmessage>        
          </div>

          <div class="col s3"><br>
            <button type="submit" class="btn waves-effect waves-light orange right" 
              [disabled]="mensagemForm.invalid">
              Enviar <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
    </form>

    <div class="card" style="padding: 5px; height: 500px; overflow-y: auto; overflow-x: hidden;">
        <p class="center" *ngIf="!mensagens.length">Nenhuma conversa encontrada!</p>

        <div *ngFor="let mensagem of mensagens.reverse()">

            <div *ngIf="usuario.CD_Usuario == mensagem.CD_Usuario" class="row card-panel teal lighten-4">
                <div class="col s2 m1"><img src="{{ mensagem.nm_Imagem }}" class="circle responsive-img"></div>
                <div class="col s10 m11 align-left">
                    {{ mensagem.tx_Mensagem }}<br>
                    <small><i>{{ mensagem.dt_Mensagem | date:'dd/MM/y, HH:mm' }}</i></small>
                </div>
            </div>

            <div *ngIf="usuario.CD_Usuario != mensagem.CD_Usuario" class="row card-panel orange lighten-4">
                <div class="col s10 m11 align-right">
                    {{ mensagem.tx_Mensagem }}<br>
                    <small><i>{{ mensagem.dt_Mensagem | date:'dd/MM/y, HH:mm' }}</i></small>
                </div>
                <div class="col s2 m1"><img src="{{ mensagem.nm_Imagem }}" class="circle responsive-img"></div>
            </div>

        </div>
    </div>

    <a [routerLink]="['/mensagens']" class="btn-floating btn-large waves-effect waves-light orange">
        <i class="material-icons">arrow_back</i></a>
    
</div>
