<div class="section no-pad-bot page-cabecalho">
  <h1 class="header center orange-text">Área restrita</h1><br><br>
</div>

<div class="container section">
  <p class="light center">Você pode se cadastrar ao sistema e criar seus grupos de amigos para sortear o Amigo Secreto da sua festa.</p>
  <p class="light center">Seu acesso será feito através de seu login no Facebook.</p>
  <p class="light center">Clique no botão abaixo e comece a brincadeira! Deixa a parte complicada com a gente!</p>
  <div class="row center">
    <button (click)="socialSignIn('facebook')" class="btn-large waves-effect waves-light orange">Acesse com Facebook</button>
  </div>
</div>
